:root{
    --White: hsl(0, 0%, 100%);
    --Light-gray: hsl(212, 45%, 89%);
    --Grayish-blue: hsl(220, 15%, 55%);
    --Dark-blue: hsl(218, 44%, 22%);
}

*{
    margin: 0;
}

h2{
    color: var(--Dark-blue);
    padding: 10px;
}

p{
    color: var(--Grayish-blue);
    padding: 5px;
}

body{
    background-color: var(--Light-gray);
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
}

#main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


#content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: var(--White);
    max-width: 330px;
    padding: 16px;
    border-radius: 13px;
    text-align: center;
    box-shadow: 0 4px 6px 1px rgba(152, 156, 156, 1);
}

img{
    border-radius: 13px;
    max-width: 100%;
    max-height: 100%;
}